*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(160, 131, 186);
    
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

h1 span{
    text-transform: uppercase;
    color: rgb(61, 5, 65);
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form{
    width: 100%;
    /* padding: 20px; */
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form form{
    width: 100%;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form input, .login-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(17, 15, 15, 0.2);;
}

.btn{
    display: inline-block;
    max-width: 200px;
    cursor: pointer;
    transition: all .3s

}
.btn-send:hover{
    background-color: rgb(172, 18, 170);
    color: #fff;
}
/* nawigacja */
nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: rgb(17, 2, 19);
	background-position:top;
	background-size: cover;
	text-align: center;
	z-index: 10;
}
.nav-items {
	display: block;
}
.nav-items a {
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(212, 169, 221);
	transition: color 0.3s;
}
.nav-items a:hover {
	color: rgb(4, 89, 117);
}
/* stopka */
footer {
	text-align: center;
	background-color: rgb(22, 9, 29);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
}
footer img{
	display: inline-block;
	max-width: 60px;
}
